<form id="edit_template" action="/edit_template/<%= @edit_template_view.template.id %>" method="post">
  <h1>Edit <%= @edit_template_view.template.title %></h1>
  <input type="hidden" name="_method" value="patch">
  <p><label>Title<br><input type="text" name="title" size="50" value="<%= @edit_template_view.template.title %>" required="true"></label></p>

  <p><label>Duration<br><select name="duration_hours" id="duration_hours">
    <% 24.times do |hours|%>
      <% if @edit_template_view.template.duration[0].to_s == hours.to_s %>
        <option selected  value="<%= hours %>"><%= hours %></option>
      <% else %>
        <option value="<%= hours %>"><%= hours %></option>
      <% end %>
    <% end %>
  </select>
  :
  <select name="duration_mins" id="duration_mins">
    <% 60.times do |mins| %>
      <% if @edit_template_view.template.duration[1].to_s == mins.to_s %>
        <option selected  value="<%= mins %>"><%= mins %></option>
      <%else %>
        <option  value="<%= mins %>"><%= mins %></option>
      <%end %>
    <% end %>
  </select>
  </label></p>


  <fieldset>
  <legend>Default Coach Fee</legend>
    <% count = -1 %>
    <% for coach_fee in @edit_template_view.template.coach_fees %>
      <% count += 1 %>
      <p><label><%= coach_fee.currency %><br><input type="text" name="amount<%=count%>" value="<%= coach_fee.amount %>" required="true"><input type="hidden" name="currency<%=count%>" value="<%= coach_fee.currency %>" required="true"></label></p>
    <% end %>
    <input type="hidden" name="count" value="<%= count %>">
  </fieldset>

  <p><label>Description<br><textarea name="description" rows="5" cols="30" required="true"><%= @edit_template_view.template.description %></textarea></label></p>
  <p><a href="/">Cancel</a>&nbsp;<input type="submit" name="action" value="Edit Template"></p>
</form>
