<div class="container search">
  <form class="navbar-form pull-right" role="search" action="/search_templates_by_name" method="post">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Event Templates" name="search" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" name="action" value="GO"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </form>

<div class="btn-group btn-group-xs pull-right alphabet">
  <% for letter in [*'A'..'Z'] %>

      <a href="/search_templates_by_letter/<%= letter %>" class="btn btn-default"><label id="<%= letter %>"><%= letter %></label></a>

  <% end %>
</div> <!--class="btn-group btn-group-xs pull-right" -->
</div> <!--class="container search" -->

<div class="container mainContent createNewEvent">
  <form id="edit_template" action="/edit_template/<%= @edit_template_view.template.id %>" method="post">
  <input type="hidden" name="addEvent" value="addEvent">
  <input type="hidden" name="_method" value="patch">
  <div class="row">
    <div class="col-md-12">
      <h3>Edit <%= @edit_template_view.template.title %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Title</label>
      <input type="text" class="form-control" value="<%= @edit_template_view.template.title %>" name="title" data-validation="required" data-validation-error-msg="You did not enter a title" required>

      <label>Duration (hh:mm)</label><br><select class="form-control selectSmall" name="duration_hours" id="duration_hours">
        <% 24.times do |hours|%>
          <% if hours < 10 %>
            <% hours = "0%d" % hours %>
          <% end %>
          <% if @edit_template_view.template.duration[0].to_s == hours.to_s %>
            <option selected  value="<%= hours %>"><%= hours %></option>
          <% else %>
            <option value="<%= hours %>"><%= hours %></option>
          <% end %>
        <% end %>
      </select>
      :
      <select class="form-control selectSmall" name="duration_mins" id="duration_mins">
        <% 60.times do |mins| %>
          <% if mins < 10 %>
            <% mins = "0%d" % mins %>
          <% end %>
          <% if @edit_template_view.template.duration[1].to_s == mins.to_s %>
            <option selected  value="<%= mins %>"><%= mins %></option>
          <%else %>
            <option  value="<%= mins %>"><%= mins %></option>
          <%end %>
        <% end %>
      </select>

    <fieldset>
      <label>Default Coach Fee</label>
      <div class="currencies">
        <% count = -1 %>
        <% for coach_fee in @edit_template_view.template.coach_fees %>
          <% count += 1 %>

          <span class="noBreak">
            <label><%= coach_fee.currency %></label>
            <input type="text" name="amount<%=count%>" value="<%= coach_fee.amount %>" class="form-control" required="true">
            <input type="hidden" name="currency<%=count%>" value="<%= coach_fee.currency %>">
          </span>

        <% end %>
        <input type="hidden" name="count" value="<%= count %>">
      </div>
    </fieldset>

    </div>
    <div class="col-md-6">
      <label>Description</label>
      <textarea name="description" class="form-control descript"><%= @edit_template_view.template.description %></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input name="action" class="btn btn-success pull-right apply" type="submit" value="Edit Template">
      <input class="btn btn-default btn-xs pull-right cancel" type="submit" value="Cancel" name="action">
    </div>
  </div>
  </form>



  <script> $.validate();
  </script>
