<div id="back">
  <a href="/dashboard"><input type="button" name="back" value="Return to dashboard"></a>
</div>

<div class="container search">
  <form class="navbar-form pull-right" role="search" action="/search_templates_by_name" method="post">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Event Templates" name="search" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" name="action" value="GO"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </form>

<div class="btn-group btn-group-xs pull-right alphabet">
  <% for letter in [*'A'..'Z'] %>

      <a href="/search_templates_by_letter/<%= letter %>" class="btn btn-default"><%= letter %></a>

  <% end %>
</div> <!--class="btn-group btn-group-xs pull-right" -->
</div> <!--class="container search" -->


<div class="container mainContent createNewEvent">
<div class="row">
  <div class="col-md-6 headerElement col1">
    <h3>Event Templates</h3>
  </div>  <!-- class="col-md-6" end -->
  <div class="col-md-6 headerElement col2">
    <a href="/new_template" class="btn btn-success btn-sm pull-right topLevel">New Event Template</a>
    <a class="btn btn-success btn-sm pull-right topLevel" href="/show_archive">Show Archive</a>
    <a class="btn btn-success btn-sm pull-right topLevel" href="/">Show Event Templates</a>
  </div> <!-- class="col-md-6" end -->
</div> <!-- class="row" end -->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <div class="panel-group" id="accordion">
        <% for template in @view.templates%>
          <div class="panel panel-default">
            <div class="panel-heading" id="<%= template.id %>">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= template.id %>">
                  <button type="button" class="btn btn-default btn-xs plus" style="cursor:pointer; cursor: hand;">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <%= template.title %>&nbsp;&nbsp;(<%= template.events.count %>, <%= template.duration%>)
                </a>
                <div class="actionButtons">
                <a href="/<%= template.id %>/new_event?action=new" class="btn btn-primary btn-xs pull-right">Create New Event</a>
                <a href="/event_template/<%= template.id %>/edit" class="btn btn-primary btn-xs pull-right">Edit</a>
                <a class="btn btn-danger btn-xs pull-right deleteEventTemp">
                  <form name="deleteForm" action="/event_template/<%= template.id %>" method="post">
                    <input type="hidden" name="_method" value="Delete" />
                    <span onclick="$(this).parent().submit()">Delete</span>
                  </form>
                </a>
                <% if template.isArchive%>
                  <a class="btn btn-primary btn-xs pull-right">
                <% else %>
                  <a class="btn btn-default btn-xs pull-right grey">
                <% end %>
                  <form name="archiveForm" action="/event_template/<%= template.id %>" method="post">
                    <input type="hidden" name="_method" value="Patch" />
                    <span onclick="$(this).parent().submit()">Archive</span>
                  </form>
                </a>
                </div>
              </h4>
            </div> <!-- class="panel-heading" -->
            <div id="collapse<%= template.id %>" class="panel-collapse collapse">

              <div class="panel-body" id="events">
                <% for event in template.events %>
                <div onmouseover= "toggle('eventPopoverContent<%= event.id %>')" onmouseout="toggle('eventPopoverContent<%= event.id %>')">
                  <table>

                    <tr>
                      <td>
                        <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="<%= event.title %>">
                          <%= event.title %>&nbsp;&nbsp;(<%= event.assigned_coaches.count %>, <%= event.duration %>, <%= Date.parse("#{event.date}").strftime("%d %B %Y") %>)
                        </span>
                      </td>
                      <td>
                        <a href="/event/<%= event.event_template_id %>/<%= event.id %>/edit?action=new"><button type="button" class="btn btn-default btn-xs eventEdit" name="event_action" value="Edit" style="cursor:pointer; cursor: hand;">
                          <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </a>
                      </td>
                      <td>
                        <a href="/event/<%= event.event_template_id %>/<%= event.id %>/delete"><button type="button" class="btn btn-default btn-xs eventDelete" name="event_action" value="Delete" style="cursor:pointer; cursor: hand;">
                          <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </a>
                      </td>
                      <% unless event.coaches_emails.nil? && event.coaches_emails.empty? %>
                        <td>
                          &nbsp;&nbsp;<a href="mailto:<%=event.coaches_emails.join(';') %>">Email coach/coaches</a>
                        </td>
                      <% end %>
                    </tr>
                  </table>
                  <div id="eventPopoverContent<%= event.id %>" style="display: none">
                    <% unless event.assigned_coaches.count == 0 %>

                      <% for assigned_coach in event.assigned_coaches %>
                      <!-- HTML TO FILL EVENT POPOVER begin-->
                        <div class="eventPopoverTables">
                          <div class="eventPopoverTable">
                            <table>
                              <tr>
                                <td>
                                  <% if assigned_coach.image.nil? || assigned_coach.image.empty? %>
                                    <img src="/images/avatar.gif">
                                  <% else %>
                                    <img src="<%= assigned_coach.image %>">
                                  <% end %>
                                </td>
                                <td>
                                  <p>&nbsp;&nbsp;Name: <%= assigned_coach.name %></p>
                                  <p>&nbsp;&nbsp;Email: <%= assigned_coach.email %></p>
                                  <p>&nbsp;&nbsp;Calendar</p>
                                  <p>&nbsp;&nbsp;<a href="mailto:<%= assigned_coach.email %>">Send email</a>
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </div>
                      </div>

                      <!-- HTML TO FILL EVENT POPOVER end -->
                      <% end %>

                    <% end %>
                  </div>
                </div>
                <% end %> <!-- for event end -->
              </div> <!-- class=panel-body -->

            </div>  <!-- id="collapse -->
          </div>  <!-- class="panel panel-default" -->
        <% end %>   <!-- template in @view.templates -->
      </div>  <!-- class="panel-group" id="accordion" -->
    </div>  <!-- class="table-responsive" -->
  </div>  <!-- class="col-md-12" -->
</div><!-- class="row" -->


<!-- HTML TO FILL EVENT POPOVER -->
    <!-- <div id="eventPopoverContent" style="display: none">
      <table class="eventPopoverTable">
        <tr>
          <td>
            <img src="img/avatar.gif">
          </td>
          <td>
            <p>Name</p>
            <p>Email</p>
            <p>Calendar</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" class="btn btn-success btn-xs pull-right">Email All</button>
          </td>
        </tr>
      </table>
    </div> -->


<script>
function toggle(obj) {

	var el = document.getElementById(obj);

	el.style.display = (el.style.display != 'none' ? 'none' : 'block' );

}
</script>
