<div class="container search">
  <form class="navbar-form pull-right" role="search" action="/search_templates_by_name" method="post" onsubmit="return validateForm()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Event Templates" name="search" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" name="action" value="GO"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </form>


<div class="btn-group btn-group-xs pull-right alphabet">
  <% for letter in [*'A'..'Z'] %>

      <a href="/search_templates_by_letter/<%= letter %>" class="btn btn-default"><label id="<%= letter %>"><%= letter %></label></a>

  <% end %>
</div> <!--class="btn-group btn-group-xs pull-right" -->
</div> <!--class="container search" -->

<div class="container mainContent createNewEvent">
  <form id="new_template" action="/new_template" method="post">
    <input type="hidden" name="addEvent" value="addEvent">
    <div class="row">
      <div class="col-md-12">
        <h3>Create New Event Template</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Title</label>
        <input type="text" class="form-control" name="title" data-validation="required" data-validation-error-msg="You did not enter a title" required>

        <!-- https://github.com/victorjonsson/jQuery-Form-Validator/
        Jquery form validator -->

        <label>Duration (hh:mm)</label><br>
        <select name="duration_hours" id="duration_hours" class="formControl1 form-control selectSmall">
          <% 24.times do |hours|%>
            <% if hours < 10 %>
              <% hours = "0%d" % hours %>
            <% end %>
            <option value="<%= hours %>"><%= hours %></option>
          <% end %>
        </select>
        :
        <select name="duration_mins" id="duration_mins" class="form-control selectSmall">
          <% 60.times do |mins| %>
            <% if mins < 10 %>
              <% mins = "0%d" % mins %>
            <% end %>
            <option  value="<%= mins %>"><%= mins %></option>
          <%end %>
        </select>

      <fieldset>
        <label>Default Coach Fee</label>
        <div class="currencies">
          <% count = -1 %>
          <% for coach_fee in @new_template_view.coach_fees %>
            <% count += 1 %>

            <span class="noBreak">
            <label><%= coach_fee.currency %></label>
            <input type="text" name="amount<%=count%>" class="form-control" value="<%= coach_fee.amount %>">
            <input type="hidden" name="currency<%=count%>" value="<%= coach_fee.currency %>">
            </span>
          <% end %>
          <input type="hidden" name="count" value="<%= count %>">

        </div>
      </fieldset>

      </div>

      <div class="col-md-6">
        <label>Description</label>
        <textarea name="description" class="form-control descript"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input class="btn btn-success pull-right apply" type="submit" value="Create Template" name="action">
        <a href="/"><input class="btn btn-default btn-xs pull-right cancel" name="action" type="button" value="Cancel"></a>
      </div>
    </div>
  </form>

  <script> $.validate();
  </script>
